/* Main Window */

QMainWindow {
    background-color: #0b0f17;
}


/* All Widgets */

QWidget {
    background-color: #0b0f17;
    color: #e6e6e6;
    font-family: Segoe UI;
    font-size: 11pt;
}


/* Sidebar */

QListWidget {

    background-color: #101722;

    border: none;

    outline: none;

    padding: 10px;
}


QListWidget::item {

    height: 45px;

    border-radius: 10px;

    padding-left: 15px;
}


QListWidget::item:selected {

    background-color: #1d3b5f;
}


QListWidget::item:hover {

    background-color: #172635;
}